<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Revolut-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B85C9041E5779C20082A62C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B85C91D1E5779C20082A62C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B85C9281E5779C20082A62C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
